<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión documentaria Covid19</title>
    <link rel="stylesheet" href="../static/assets/bulma/css/bulma.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="container">
        <nav class="level -item">
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuPrincipal.html">Inicio</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuInicioUser.html">Menú principal</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="Buscador.html">Buscar Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="SubirDocumento.html">Subir Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="CerrarSesion.html">Cerrar Sesión</a>
            </p>
        </nav>
    </div>
    <div class="container">
        <br>
        <h2 class="title is-3">Corregir documento</h2>
        <p>Documento:</p>
        <br>
        <form action="/CorregirDocumento.html" method="POST" enctype="multipart/form-data">
            <label class="label">Título: </label>
            <input class="input" type="text" name="titulo" size="50px" value="{{documento['TITULO_DOCUMENTO']}}">
            <br>
            <br>
            <label class="label">Idioma: </label>
            <span class="select">
                <select name="idioma" value="{{documento['IDIOMA_DOCUMENTO']}}">
                    <option value="Español">Español</option>
                    <option value="English">English</option>
                    <option value="Portuguese">Portuguese</option>
                    <option value="Français">Français</option>
                </select>
            </span>
            <br>
            <br>
            <label class="label">Seleccione el archivo: </label>
            <br>
            <div class="control is-loading">
                <input type="file" name="archivo" value="Seleccionar archivo">
            </div>
            <br>
            <br>
            <input class="input is-primary" type="submit" name="{{documento['COD_DOCUMENTO']}}"
                value="Corregir documento">
            <br>
            <br>
            <label>{{mensaje}}</label>

        </form>
    </div>
</body>

</html>