<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión documentaria Covid19</title>
    <link rel="stylesheet" href="../static/assets/bulma/css/bulma.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="container">
        <nav class="level -item">
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuPrincipal.html">Inicio</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuInicioOrg.html">Menú principal</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="PublicarDocumento.html">Publicar Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="ValidarDocumento.html">Validar Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="CerrarSesion.html">Cerrar Sesión</a>
            </p>
        </nav>
    </div>
    <div class="container">
        <br>
        <br>
        <h1 class="title is-1">Validación de documento</h1>
        <p>Documento a validar: {{ documento['TITULO_DOCUMENTO'] }}</p>
        <br>
        <form action="/DetalleValidar.html" method="POST" enctype="multipart/form-data">
            <label>Observaciones:</label>
            <br>
            <br>
            <textarea class="textarea" name="observaciones" rows="4" cols="100"></textarea>
            <br>
            <br>
            <input class="input is-danger" type="submit" name={{documento['COD_DOCUMENTO']}} value="Rechazar">
            <br>
            <br>
            <input class="input is-warning" type="submit" name={{documento['COD_DOCUMENTO']}} value="Observar">
            <br>
            <br>
            <input class="input is-success" type="submit" name={{documento['COD_DOCUMENTO']}} value="Validar">
        </form>
    </div>
</body>

</html>