<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión documentaria Covid19</title>
    <link rel="stylesheet" href="../static/assets/bulma/css/bulma.min.css">
</head>

<body>
    <div class="container">
        <nav class="level -item">
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuPrincipal.html">Inicio</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuInicioOrg.html">Menú principal</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="PublicarDocumento.html">Publicar Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="ValidarDocumento.html">Validar Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="CerrarSesion.html">Cerrar Sesión</a>
            </p>
        </nav>
    </div>
    <div class="container">
        <br>
        <br>
        <h1 class="title is-1">¡Bienvenido {{name}}!</h1>
        <p>Documentos publicados anteriormente</p>
        <br>
        <table class="table">
            <tr>
                <td>Titulo</td>
                <td>Fecha de subida</td>
                <td>Idioma</td>
                <td>Descarga</td>
                <td>Eliminar</td>
            </tr>
            {% for item in documentos: %}
            <tr>
                <td>{{item['TITULO_DOCUMENTO']}}</td>
                <td>{{item['FECHA_SUBIDA']}}</td>
                <td>{{item['IDIOMA_DOCUMENTO']}}</td>
                <td><button class="button is-link is-light">
                    <a href={{item['RUTA_DOCUMENTO']}}>Descargar</a></td>
                </button>
                <td><input class="input is-danger" type="submit" name={{item['COD_DOCUMENTO']}} value="Eliminar"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>