<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión documentaria Covid19</title>
    <link rel="stylesheet" href="../static/assets/bulma/css/bulma.min.css">
</head>

<body>
    <div class="container">
        <nav class="level -item">
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuPrincipal.html">Inicio</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuInicioUser.html">Menú principal</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="Buscador.html">Buscar Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="SubirDocumento.html">Subir Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="CerrarSesion.html">Cerrar Sesión</a>
            </p>
        </nav>
    </div>
    <div class="container">
        <br>
        <br>
        <h1 class="title is-1">¡Bienvenido {{name}}!</h1>
        <h2>Documentos subidos</h2>
        <form action="/MenuInicioUser.html" method="POST" enctype="multipart/form-data">
            <table class="table">
                <tr>
                    <td>Titulo</td>
                    <td>Fecha de subida</td>
                    <td>Idioma</td>
                    <td>Estado</td>
                    <td>Descarga</td>
                    <td>Obervaciones</td>
                    <td>Eliminar</td>
                    <td>Corregir</td>
                </tr>
                {% for item in documentos: %}
                <tr>
                    <td>{{item['TITULO_DOCUMENTO']}}</td>
                    <td>{{item['FECHA_SUBIDA']}}</td>
                    <td>{{item['IDIOMA_DOCUMENTO']}}</td>
                    <td>{{item['ESTADO_DOCUMENTO']}}</td>
                    <td><button class="button is-link is-light">
                            <a href={{item['RUTA_DOCUMENTO']}}>Descargar</a>
                        </button></td>
                    <td>{{item['OBSERVACIONES_DOCUMENTO']}}</td>
                    <td><input type="submit" name={{item['COD_DOCUMENTO']}} value="Eliminar"></td>

                    {% if item['ESTADO_DOCUMENTO'] == 'obs' %}
                    <td><input type="submit" name={{item['COD_DOCUMENTO']}} value="Corregir"></td>
                    {% else %}
                    <td><input type="submit" name={{item['COD_DOCUMENTO']}} value="Corregir" disabled></td>
                    {% endif %}

                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</body>

</html>