<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión documentaria Covid19</title>
    <link rel="stylesheet" href="static/assets/bulma/css/bulma.min.css">
</head>
<body>
    <div class="container">
        <nav class="level -item">
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuPrincipal.html">Menu Principal</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuInicioOrg.html">Inicio</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="PublicarDocumento.html">Publicar Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="ValidarDocumento.html">Validar Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="IniciarSesion.html">Cerrar Sesión</a>
            </p>
        </nav>
    </div>
    <div class="container">
        <br>
        <br>
        <h1 class="title is-1">¡Bienvenido!</h1>
        <p>Documentos publicados anteriormente</p>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Año</th>
                    <th>Institución</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Título 1</td>
                    <td>Autor 1</td>
                    <td>Año 1</td>
                    <td>Institución 1</td>
                </tr>
                <tr>
                    <td>Título 2</td>
                    <td>Autor 2</td>
                    <td>Año 2</td>
                    <td>Institución 2</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>