<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión documentaria Covid19</title>
    <link rel="stylesheet" href="static/assets/bulma/css/bulma.min.css">
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">
                    Gestión Documentaria Covid19
                </h1>
            </div>
        </div>
    </section>
    <div class="container">
        <br><br><a href="MenuInicioUser.html">Investigador</a><br><br>
        <a href="MenuInicioOrg.html">Organización</a><br><br>
        <a href="IniciarSesion.html">Iniciar sesión</a> 
    </div>
</body>
</html>