<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión documentaria Covid19</title>
    <link rel="stylesheet" href="../static/assets/bulma/css/bulma.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container content has-text-centered">
                <h1 class="title is-1">
                    Gestión Documentaria Covid19
                </h1>
            </div>
        </div>
    </section>
    <br>
    <br>
    <div class="container">
        <div class="columns is-vcentered">
            <a href="IniciarSesion.html" class="button is-large is-light is-fullwidth">
                Iniciar Sesión
            </a>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="columns is-vcentered">
            <a href="BuscadorVisitante.html" class="button is-large is-light is-fullwidth">
                Buscar documentos
            </a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container content has-text-centered">
        <img width="320" height="180" src="{{ imagen }}">
    </div>
</body>

</html>