<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión documentaria Covid19</title>
    <link rel="stylesheet" href="static/assets/bulma/css/bulma.min.css">
</head>
<body>
    <div class="container">
        <nav class="level -item">
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuPrincipal.html">Menu Principal</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuInicioUser.html">Inicio</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="Buscador.html">Buscar Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="SubirDocumento.html">Subir Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="IniciarSesion.html">Cerrar Sesión</a>
            </p>
        </nav>
    </div>
    <div class="container">
        <br>
        <br>
        <h2 class="title is-3">Subir documento</h2>
        <p>Documento:</p>
        <br>
        <form action="/SubirDocumento.html" method="POST" enctype="multipart/form-data">
            <input type="file" name="archivo" value="Seleccionar archivo">
            <br>
            <br>
            <input type="submit" value="Subir archivo" onclick="subidaexitosa()">
            <script>
                function subidaexitosa(){
                    alert("Mensaje subido correctamente")
                }
            </script>
        </form>
    </div>
</body>
</html>