<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión documentaria Covid19</title>
    <link rel="stylesheet" href="static/assets/bulma/css/bulma.min.css">
</head>
<body>
    <div class="container">
        <nav class="level -item">
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuPrincipal.html">Menu Principal</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuInicioUser.html">Inicio</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="Buscador.html">Buscar Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="SubirDocumento.html">Subir Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info">Cerrar Sesión</a>
            </p>
        </nav>
    </div>
    <div class="container">
        <br>
        <br>
        <h1 class="title is-3">Descarga</h1>
        <br>
        <br>
        <p>Recuerda que la descarga del siguiente documento debe realizarse solo</p>
        <p>fines académicos</p>
        <br>
        <br>
        <input type="checkbox">Acepto los terminos y condiciones<br><br>
        <br>
        <br>
        <button class="button">Descargar</button>
    </div>
</body>
</html>