<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión documentaria Covid19</title>
    <link rel="stylesheet" href="static/assets/bulma/css/bulma.min.css">
</head>

<body>
    <div class="container">
        <nav class="level -item">
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuPrincipal.html">Menu Principal</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="MenuInicioOrg.html">Inicio</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="PublicarDocumento.html">Publicar Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="ValidarDocumento.html">Validar Documentos</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" href="CerrarSesion.html">Cerrar Sesión</a>
            </p>
        </nav>
    </div>
    <div class="container">
        <br>
        <br>
        <h2 class="title is-3">Aviso</h2>
        <p>¿Desea aceptar este documento?</p>
        <br>
        <button class="button">Aceptar</button>
        <button class="button">Rechazar</button>
    </div>
</body>

</html>